<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiliang.a_mybatis.mapper.UserMapper">
    <select id="findUserById" parameterType="int" resultType="User">
         select * from d_user WHERE id=#{id};
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultType="User">
         select * from d_user WHERE username like "%${value}%";
    </select>

    <insert id="insertUser" parameterType="User">
          <selectKey keyProperty="id" resultType="Integer" order="AFTER">
              select LAST_INSERT_ID()
          </selectKey>
         insert into d_user(username,birthday,sex,address) value(#{username},#{birthday},#{sex},#{address})
    </insert>

</mapper>