<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    <bean id="myBeanFactory" class="com.qiliang.c_inject.e_lifecycle.MyBeanFactory"></bean>
         -->
    <bean id="customerID" class="com.qiliang.c_inject.f_xml.d_spel.Customer">
        <property name="c_name" value="#{customerID.c_name?.toUpperCase()}"></property>
        <property name="pi" value="#{T(java.lang.Math).PI}"></property>
    </bean>

</beans>